div.gallery {
  margin-left: 30px;
  border: none;
  float: left;
  width: 200px;
  height: 300px;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 5px;
  font-weight: 300;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
